@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:dodgerblue;
}

a {
    text-decoration: none;
    color: dodgerblue;
}

header {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: seashell;
    padding: 0.2rem;
    box-shadow: 0 1px 20px 10px rgba(1, 16, 56, 0.2);
}

.header-title {
    margin-left: 1rem;
}

.header-info {
    margin-right: 1rem;
}

main {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
}

.container {
    background-color: #e8e8e8;
    border-radius: 1rem;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.25);
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    min-width: 70vw;
    max-width: 70vw;
}

.hero-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.display-text {
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 100;
    text-align: center;
    font-family: 'Press Start 2P';
}

.buttons-wrapper {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.buttons-wrapper button {
    width: 50%;
    height: auto;
    font-size: 3rem;
    border: 1px black solid;
    box-shadow: 0px 0px 1rem 0px rgba(0, 0, 0, 0.25);
    border: none;
    background-color: #f4f1f1;
}

.buttons-wrapper button:hover {
    background-color:rgb(255, 255, 255);
}

.score-board-wrapper {
    background-color: #f4f1f1;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.scores {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300;
    gap: 0.5rem;
    padding-bottom: 2rem;
}

.score-board-title {
    font-size: 1rem;
    font-family: 'Press Start 2P';
}

.player-score, .player-score::before {
    font-size: 1rem;
    font-family: 'Press Start 2P';
    content: 'Player: ';
}

.computer-score, .computer-score::before {
    font-size: 1rem;
    font-family: 'Press Start 2P';
    content: 'Robot: ';
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    align-self: stretch;
    color: seashell;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.footer-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

